*{
    background-color: #D9DCD6;
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.tit{
    color: #3A7CA5;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: xxx-large;
}

.div1{    
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.inp{
    background-color: #81C3D7;
    border-radius: 30px;
    width: 400px;
    border: 0px;
    height: 30px;
}

.btn{
    background-color: #81C3D7;
    border-radius: 30px;
    width: 70px;
    border: 0px;
    height: 30px;
}

.color{
    background-color: #81C3D7;
    border-radius: 5px;
    border: 0px
}

.div2{    
    display: flex;
    justify-content: center;
    margin-top: 50px;
}